@font-face {
    font-family: 'Roboto';
    src: url(Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
body{
    background: #000;
}
.container .website-header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.website-header a{
    color: #fff;
    background-color: #e50914;
    padding: 10px 18px;
    border-radius: 5px;
}
.website-header{
    color:  #fff;
    padding: 8px 19px;
    border-radius: 5px;
    right: 40%;
}
.site-banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
}
.site-banner::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}
.site-banner .story-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.logo-container{
    height: 45px;
    width: 115px;
}
.netflix-logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.site-banner .story-text{
    z-index: 1000;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%,-50%);
}
.site-banner .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.site-banner .heading h2{
    font-size: 3.2rem;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
}
.site-banner .heading h5{
    font-size: 1.65rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 0;
}
.site-banner .heading p{
    font-size: 1.25rem;
    color: #fff;
    font-weight: 400;
    padding: 1.5rem 0;
    padding-bottom: 20px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-bar input{
  padding: 10px 10px 0 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #8c8c8c;
  color: #000;
  min-width: 400px;
  height: 70px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  align-items: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.site-banner .search-bar button{
    border: none;
    /* text-transform: uppercase; */
    color: #fff;
    outline: none;
    letter-spacing: 0.2px;
    font-size: 1.63rem;
    padding: 0 30px;
    line-height: 70px;
    color: #fff;
    outline: none;
    min-width: 310px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #e50914;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 4rem;
    border-top: 8px solid #222;
    border-bottom: 8px solid #222;
    background: #000;
    align-items: center;
}
.cards .cards-text{
    flex-basis: 40%;
}
.cards .cards-text .cards-title{ 
    color: #fff;
    line-height: 1.1;
    font-size: 3.125rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.cards .cards-text .cards-sub{ 
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 410;
}
.card-img-container{
    flex-basis: 45%;
}
.card-animation-container{
    position: relative;
    height: 100%;
    width: 100%;
}
.card-video-animation{
    width: 100%;
    height: 100%;
    max-width: 80%;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 60%;
    position: absolute;

}
.card-img{
    position: relative;
     /*z-index: 100;*/ /*commented out due to overrule issues, z-index can be located inline @line 13 of clone.html*/
    max-width: 100%;
    height: auto;
}
.my-card-animation{
    max-width: 100%;
    max-height: 100%;
}
.download-watch .card-video-animation{
    position: absolute;
    left: 40%;
    bottom:8%;
    top:345px;
    transform: translateX(-50%);
    box-shadow: 0 0 2em 0 #000;
    margin: 0 auto;
    background: #000;
    display: flex;
    align-items: center;
    width: 50%;
    height: 96px;
    min-width: 15em;
    padding: 0.25em 0.65em;
    border-radius: 0.75em;
    border: 2px solid rgba(255,255,255,0.25);
}
.download-watch .card-animation-container{
    position: relative;
    overflow: hidden;
}
.card-image{
    height: 4.5em;
    width: 4em;
    margin-right: 1rem;
}

.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}   
.text0{
    color: #fff;
    font-weight: 570;
    font-size: 1em;
}
.text1{
    color: #0071eb;
    font-size: 0.9em;
    font-weight: 400;
}
.download-watch .card-video-animation::after{
    width: 3em;
    margin-left: auto;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background:url(Images/download.gif) center center no-repeat;
    background-size: 100%;
    content: "";
    flex-grow: 0;
    flex-shrink: 0;
} 
.questions-menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.questions-menu-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 50px;
    margin-top:50px ;
}
.tab1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 100px;
    border-style: solid;
    width: 800px;
    height:70px;
    background-color: #303030;
    border-style: none;
    cursor: pointer;
}
.question1{
    margin-top: 15px;
    margin-left: 10px;
}
.more-options{
    margin-right: 10px;
    margin-top: 15px;
}
.tab2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    border-style: solid;
    width: 800px;
    height:70px;
    background-color: #303030;
    border-style: none;
    cursor: pointer;
}